/ONM_Casestudy_Fusemachines.aux
/ONM_Casestudy_Fusemachines.fdb_latexmk
/ONM_Casestudy_Fusemachines.fls
/ONM_Casestudy_Fusemachines.log
/ONM_Casestudy_Fusemachines.out
/ONM_Casestudy_Fusemachines.synctex.gz
/ONM_Casestudy_Fusemachines.toc